.hero {
    display: flex;
    justify-content: space-between;
}
.left-h {
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.right-h {
    flex: 1;
}
.the-best-ad {
    margin-top: 4rem;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #363d42;
    border-radius: 4rem;
    padding: 20px 13px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
    position: relative;
    z-index: 1;
    font-weight: 500;
}
.the-best-ad > div {
    position: absolute;
    border-radius: 3rem;
    width: 5.4rem;
    height: 80%;
    background-color: var(--orange);
    left: 8px;
    z-index: -1;
}
.hero-text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 4.5rem;
    color: var(--white);
    text-transform: uppercase;
}
.hero-text div:last-child span{
    font-size: 1rem;
    text-transform: none;
}